@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #0f172a;
  /* Slate 900 */
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}